.drawTop-Menu-box{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding:5px 15px;
    border:1px solid #ccc;
    box-shadow:0 0 5px 0 #ccc;
    z-index:30;
    min-width: 60px;
    background: #fff;
}
.drawTop-Menu-box a{
    display: block;
	color:#333;
	font-size:14px;
	text-align:center;
	text-decoration:none;
    padding:3px 0;
}
.drawTop-Title-box{
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    display: none;
    padding:3px 6px;
    border:1px solid #ccc;
    box-shadow:0 0 5px 0 #ccc;
    color:#333;
    z-index:25;
    font-size: 12px;
    background: #fff;
}